@using ECommerce.Shared.Entities.Enums
@model UserDto
@{
    Layout = "Admin/_AdminLayout";
    ViewData["Title"] = "Profili Düzenle";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="container py-5">
        <div class="card">
            <div class="card-header">
                <h2>Kullanıcı Güncelle</h2>
            </div>
            <div class="card-body">
                <form asp-controller="Account" asp-action="EditProfile" method="post">
                    <div class="form-group row offset-2 col-10 text-danger" asp-validation-summary="All">
                    </div>
                    <input type="hidden" asp-for="Id" class="form-control"/>
                    <div class="form-group row">
                        <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="FirstName" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="LastName" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="GenderType" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            @foreach (var item in System.Enum.GetValues(typeof(GenderEnum)).OfType<GenderEnum>())
                            {
                                <label>
                                    <input  type="radio" asp-for="GenderType" value="@Convert.ToInt32(item)" checked="@(item == Model?.GenderType)"/>
                                    @item
                                </label>
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="UserName" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="UserIdendityNo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="UserIdendityNo" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="PhoneNumber" id="userphonemasc" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="email" asp-for="Email"  class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="DateOfBirth" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="DateOfBirth" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Note" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <textarea asp-for="Note" class="form-control"></textarea>
                            </div>
                        </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <input type="submit" value="Kaydet" class="btn btn-info"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- .content -->

@section Scripts {
    <script src="~/js/inputmask/jquery.inputmask.min.js"></script>
    <script type="text/javascript">
           (function($) {
               $("#userphonemasc").inputmask("+\\90(999)999-99-99");
               })(jQuery);
    </script>
}

