@model ForgetPassDto
@{
    Layout = "Account/_AccountLayout";
    ViewBag.Title = "Parolamı Unuttum";
}

@if (ViewBag.State == null)
{
    <div class="login-form">
        <form asp-area="Admin" asp-controller="Account" asp-action="ForgetPass" method="post">
            <div asp-validation-summary="All" class="text-danger ml-4"></div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input type="email" asp-for="Email" class="form-control"/>
                </div>
            </div>
            <button type="submit" class="btn btn-info btn-flat m-b-15">Gönder</button>
        </form>
    </div>
}
else
{
    if (ViewBag.State)
    {
        <div class="alert-success my-2">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
    }
    else
    {
        <div class="alert-success my-2">Böyle bir e-posta bulunmamaktadır.</div>
    }
}